*{
    box-sizing: border-box;
    margin: 0;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

h1,h2,h3,h4,h5{
    letter-spacing: 1.5px;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.contenedor{
    max-width: 1500px;
    margin: 0 auto;
}

.content-contact{
    max-width: 800px;
    margin: 0 auto;
}

.rojo{
    margin: 20px;
    padding: 20px;
    background-image: url('../assets/fondo_rojo_textura.jpg');
    border-radius: 10px;
}


.negro,.blanco{
    margin:20px;
    margin-top: 20px;
    padding: 20px;
    background-image: url('../assets/fondo_negro.jpg');
    border-radius: 10px;
}

.blanco{
    background-image: none;
    background-color: white;
}

/* Estilos del header */

.header{
    height: 60px;
}

.header .contenedor{
    display: flex;
    justify-content: space-between;

}

.logo{
    width: 200px;
    height: 100px;
    margin: 0;
}

.icon-menu{
    display: block;
    width: 50px;
    height: 40px;
    font-size: 30px;
    color: white;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    margin-left: auto;
}
/* Estilos del menu */
nav{
    position: absolute;
    top: 110px;
    width: 100%;
    left:-100%;
    transition: all 0.4s;
    z-index: 100;
}


.menu__link{
    display: block;
    padding: 15px;
    /* background: aqua; */
    text-decoration: none;
    color: white;
}

.menu__link:hover,.active{
    color: gold;
}

.mostrar{
    left:0;
}

.menu.open{
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
    z-index: 100000;
}

/* Estilos del banner */

.banner_img{
    margin-top: -65px;
    position: relative;
    z-index: -1000;
    object-fit: cover; 
}

/* Estilos de zonas */
.main{
    margin: 5px;
    margin-top: 50px;
}

.zona {
    margin-bottom: 20px;
    position: relative;
}

.textoConcreto,.textoPapel{
    position:absolute; 
    font-size: 1.3em;
}

.textoPapel{
    position: absolute;
    bottom:0; 
    left:5%;
    font-family: dreamsKosama;
    /* -webkit-text-stroke: 1px black; */
    color:white;
    -webkit-text-stroke: 1px black;
}

.textoConcreto{
    position: absolute;
    top:0;
    right: 5%;
    font-family: concretoKosama;
    color:white;
    -webkit-text-stroke: 1px black;
}

#slider2,#slider3{
    display: none;
}

/* CATEGORIAS */

.letraCategoria{
    /* font-family:categoriaKosama; */
    font-family: 'Rowdies', cursive;
    font-style: bold;
    font-size: 1em;
    -webkit-text-stroke: 0.5px black;
}

.categoria{
    padding: 10px;
    position: relative;
}

.categoria p{
    position: absolute;
    color: #fff;
    font-size: 24px;
    z-index: 10000;
}

.viviendas, .edificios,.campo{
    bottom: 8%;
    right: 10%;
    font-family: centuryCategoria;
    font-weight: bold;
    text-align: right;
}

/* .categoria:hover img{
    background: rgba(0, 0, 0,0.4);
} */

.categoria a::before{
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    /* padding: 20px; */
}

.categoria a:hover:before {
    opacity: 1;
    visibility: visible;
}

.categoria img{
    height: 300px;
    width: 100%;
}
/* PAGINA CATEGORIA */

.portada-categoria{
    position: relative;
}

.portada-categoria img{
    display: block;
    width: 100%;
    margin: auto;
}

.portada-categoria p{
    position: absolute;
    /* top: 40px; */
}

.textoBanner{
    font-family: centuryCategoria;
    top: 1%;
    left: 10px;
    width: 45%;
    text-transform: uppercase;
    font-size: 4.5vw;
}

.textoBannerInferior{
    font-family: dreamsKosama;
    width: 45%;
    bottom: 1%;
    font-size: 3vw;
    left: 10px;
    text-transform: uppercase
}

/* PAGINA PROYECTO */

.main-proyecto{
    margin: 5px;
    margin-top: 50px;
}

.content-proyecto{
    padding: 10px 20px;
    width: 100%; 
    color: white;
}

.content-proyecto__titulo .textoBanner{
    font-size: 2em;
}

.content-proyecto__terreno,.content-proyecto__construido {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    width: 10em;
}

.content-proyecto__construido, .content-proyecto__terreno, .content-proyecto__descripcion {
    font-family: 'Asap', sans-serif;
    /* font-family: 'Poppins', serif; */
}

.content-proyecto__ubicacion{
    font-size: 1.5em;
}

.content-proyecto__descripcion{
    padding: 10px;
    color: white;
    font-size: 1.5em;
    text-align: justify;
    font-style: italic;
}

.content-fotos img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 10px;  
    border-radius: 10px;
}

#collage{
    display: none;
}

.proyecto{
    margin:20px;
    margin-top:0;
    padding: 10px;
    background-color: white;
}

.rojo-proyecto{
    /* margin: 20px; */
    padding: 10px;
}

.nombreProyecto{
    font-family: 'Rowdies', cursive;
    letter-spacing: 0em;
    text-transform: none;
}

#fotos-items img{
    /* height: 500px; */
    /* height: 600px; */
    height: 100%;
    width: 100%;
}

/* EXTRAS */

/* NOSOTROS */

.nosotros__banner{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    /* border: 1px solid violet; */
    flex-direction: column;
}

.nosotros__banner__imagen, .nosotros__banner__texto{
    width: 100%;
}

.nosotros__banner__imagen{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nosotros__banner__texto{
    color: white;
    margin-top: 1em;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 1.2em;
    text-align: center;
}

.slogan{
    color: white;
}

.slide-image{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    display: block;
    margin: 0 auto;
}

.contacto__padre{
    
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 2%, rgba(238,27,27,0.9542191876750701) 27%); */
}

.contacto__info{
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    margin: 0;
    padding: 10px;
    font-weight: normal;
    font-family: 'Open Sans';
}

.contacto__imagen{
    display: none;
}

.nosotros__banner__texto{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.nosotros__banner__texto__descripcion{
    font-family:categoriaKosama;
    font-weight: bold;
    color: white;
}

.textoPapelNosotros{
    font-family: dreamsKosama;
    font-size: 1.5em;
    color: white;
}

.textoConcretoNosotros{
    font-family: concretoKosama;
    color: white;
    font-size: 1.3em;
}

@media screen and (max-width: 422px){
    .categoria img{
        height: 200px;
    }

}

@media screen and (min-width: 425px){
    .textoConcreto,.textoPapel{
        position:absolute; 
        font-size: 2em;
    }
}


@media screen and (min-width:767px){
    .contacto__padre{
        display: grid;
        grid-template-columns: 50% 50%;
        /* background: linear-gradient(90deg, rgba(2,0,36,1) 2%, rgba(238,27,27,0.9542191876750701) 27%); */
    }

    .contacto__imagen{
        display: block;
    }

    .textoConcreto,.textoPapel{
        position:absolute; 
        font-size: 2.5em;
    }

    .categoria img {
        height: 500px;
        width: 100%;
    }

    .categoria p {
        font-size: 3em;

    }

    .nosotros__banner__texto,.nosotros__banner__texto__descripcion,.textoPapelNosotros,.textoConcretoNosotros{
        font-size: 1.2em;
    }

}

@media screen and (max-width:899px){
    .menu{
        list-style: none;
        padding: 0; 
        margin: 0;
        left: 0;
        top:0;
        /* background-size: cover;  */
        /* background-image: url('/assets/brocha.png'); */
        /* background-image: url('/assets/fondo_rojo_textura.jpg'); */
        /* background-repeat: no-repeat; */
    
        display: flex;
        position: fixed;
        background: darkred;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
        -webkit-clip-path: circle(50px at 90% -10%);
        clip-path: circle(50px at 90% -20%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
}

/* Estilos responsive */
@media screen and (min-width:900px){

    .nav{
        position: static;
        width: auto;
        margin: auto;
    }

    .hamburger{
        display: none;  
    }

    .menu{
        position: absolute;
        height: auto;
        display: flex;
        overflow:hidden;
        background-size: cover; 
        background-image: url('../assets/brocha.png');
        /* background-image: url('/assets/fondo_rojo_textura.jpg'); */
        background-repeat: no-repeat;
        z-index: 1000000;
        top: 40px;
        right: 100px;
    }
    .menu li{
        opacity: 1 !important;
        z-index: 1000000;
    }

    .menu__link{
        display: flex;

    }    
    .menu__item{
        list-style:none;
        
    }
    .icon-menu{
        display: none;
    }

    .categoria p{
        font-size: 28px;
    }

    .info{
        width: 100%;
        display: flex;
    }

    .fotoSlider,.fotoSlider2{
        width: 50%;
        margin-top: 0;
        padding-top: 0;
        margin-left: 0;
        margin-right: 0;
        padding: 20px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .zona{
        margin: 0;
    }

    #slider2,#slider3{
        display: block;
    }

    .main{
        margin: 0;
        margin-top: 35px;

    }

    .header{
        margin: 0;
        padding: 0;
        top: 0;
        margin-top: 0;

    }

    .header .contenedor{
        margin: 0;
        padding: 0;
        margin-bottom: 100px;
        top: 0;
    }

    .main .contenedor{
        width: 100%;
        margin: auto;
    }

    .logo{
        z-index: 1000000;
    }

    .rojo{
        margin: 20px;
        padding: 20px;
        padding-top: 0;
        margin-bottom: 25px;
        height: 100%;
    }

    .categoria__lista{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-auto-rows: 350px;
    }

    .categoria__item{
        width: 33%;
        min-height: 200px;
    }

    .categoria__lista__principal{
        display: flex;

    }

    .img__categoria{
        width: 100%;
    }

    /* PAGINA CATEGORIA*/

    .portada-categoria img{
        padding: 30px;
    }

    .categoria img{
        height: 100%;
    }

    .textoBanner{
        font-family: centuryCategoria;
        top: 10%;
        left: 50px;
        text-transform: uppercase;
        font-size: 45px;
    }

    .textoBannerInferior{
        font-family: dreamsKosama;
        bottom: 50px;
        font-size: 30px;
        left: 5%;
        text-transform: uppercase
    }

    /* PAGINA PROYECTO */

    .main-proyecto{
        display: grid;
        grid-template-columns: 30% 60%;
        gap: 5vw;
        /* justify-content: space-between; */
        /* overflow-y: scroll; */
    }

    .main-proyecto .blanco{
    }


    .content-fotos img{
        padding: 0px;  
        /* position: fixed; */
        /* color: white; */
    }

    #collage{
        display: block;
    }

    #collage img{
        padding: 10px;
    }

    #fotos-items{
        display: none;
    }

    #fotos-items img{
        /* height: 500px; */
        /* height: 100%; */
        width: 100%;
    }

    .fixed{
        position:fixed;
    }

    .proyecto{
        margin-right: 100px;
    }


    .blanco{
        padding: 0;
        margin: 0;
    }

    .content-proyecto__descripcion{
        font-size: 1.3em;
    }

    .nosotros__banner{
        flex-direction: row;
    }

    .nosotros__banner__imagen,.nosotros__banner__texto{
        width: 50%;
        color: white;
    }

    .nosotros__banner__texto{
        margin-top: 5em;
    }

    .nosotros__banner__texto p{
    }

    .textoPapelNosotros{
        font-size: 1.8em;
    }

    .textoConcretoNosotros{
        font-size: 1.7em;
    }

    /* EXTRAS */
    .campoC{
        font-size: 30px;
        /* color: blueviolet; */
    }
}

@media screen and (min-width:1300px){
    .textoConcreto,.textoPapel{
        position:absolute; 
        font-size: 3.5em;
    }
}

@media screen and (min-width:1500px){

    .rojo{
        margin-bottom: 10px;
        /* height: 680px; */
    }

    .negro{
        margin:20px;
    }

    .slider1 img{
        height: 285px;
    }

    .info_zona{
        width: 100%;
    }

}


/* Fuentes */
@font-face{
    font-family: dreamsKosama;
    src: url("../assets/fonts/viner-hand-itc.ttf");
}

@font-face{
    font-family: concretoKosama;
    src: url("../assets/fonts/concreto.ttf");
}

@font-face{
    font-family: categoriaKosama;
    src: url("../assets/fonts/ink-free-normal.ttf");
}

@font-face{
    font-family: centuryCategoria;
    src: url("../assets//fonts/century.ttf");
}




/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/* Whatsapp */

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:20px;
	right:20px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}